<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <h1>Basic Information</h1>
    <hr>

    <h3><li>1 means Task Remain</li></h3>
    <h3><li>0 means Task finish</li></h3>
    <hr>
    <h2>Total Url</h2>
    <hr>
    <h4>Task1 Get_all: <a href="http://127.0.0.1:5000/Display_all_data">Click me</a></h1>
    <h4>Task2 insert_CheckBox: <a href="http://127.0.0.1:5000/insert_text">Click me</a></h1>
    <h4>Task3 Update_CheckBox: <a href="http://127.0.0.1:5000/update_list">Click me</a></h1>
    
</body>
</html>