<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <h2>Text inserted by user: </h2>
    <h3><li>{{DATA}}</li></h3>  
    <hr>
    <h2>if you want to add more task: <a href='http://127.0.0.1:5000/insert_text'>Click me</a> </h2>
    <h2>Check all the inserted List: <a href='http://127.0.0.1:5000/Display_all_data'>Click me</a> </h2>
    <hr>
</body>
</html>